@font-face {
  font-family: "Norwester";
  /* src: url("/assets/vendors/norwester-v1.2/webfonts/norwester.ttf"); */
  src: url("/assets/vendors/norwester-v1.2/webfonts/norwester.eot"); /* IE9 Compat Modes */
  src: url("/assets/vendors/norwester-v1.2/webfonts/norwester.eot") format('embedded-opentype'), /* IE6-IE8 */
       url("/assets/vendors/norwester-v1.2/webfonts/norwester.woff") format('woff'), /* Modern Browsers */
       url("/assets/vendors/norwester-v1.2/webfonts/norwester.ttf")  format('truetype'), /* Safari, Android, iOS */
       url("/assets/vendors/norwester-v1.2/webfonts/norwester.svg#norwesterregular") format('svg'); /* Legacy iOS */
}

h1, h2, h3, h4, h5 {
  font-family: "Norwester", "Helvetica Neue", 'Helvetica', 'Arial', sans-serif;
}

body {
  background-color:#FFEEE8;
}

#nav {
  margin-top: 2em;
}

#header {
  border-bottom: 2px solid #FC9D9A;
}
#footer {
  border-top: 1px solid #FE4365;
  padding-top: 1em;
}

#content {
  border-top: 1px solid #FE4365;
  border-bottom: 2px solid #FC9D9A;
  padding-top: 1em;
  background-color: white;
}


