<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/vendors/foundation/stylesheets/foundation.min.css" >
    <link rel="stylesheet" href="/assets/style.css" >
    <meta charset="utf-8">
  </head>
  <body>
    <header id="header" class="row"><h1> <a href="/">A Blog.</a> </h1> </header>
    <div id="content" class="row">
      {{ content }}
    </div>
    <footer id="footer" class="row">
    &copy; Derek Ludwig 2012
    </footer>
    <script src="/assets/vendors/foundation/javascripts/foundation.min.js"></script>
  </body>
</html>
